
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import '_variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Theme    
@import 'bootstraptheme';
@import 'social';

.semBordas{
    border: 0px !important;
    border-radius: 0px !important;
}
.logo{
    font-size: 160%;
}

